/* General Styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins','sans-serif';
}

header {
    background: #6A9C89;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


body {
    margin: 0;
    font-family: 'poppins', sans-serif;
    background-color: #f9f9f9;
}

.logo img {
    width: 300px;
    }

/* Header Styles */
.header-container {
    background-color: #009688; /* Teal for a fresh medical look */
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.header-container .logo {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #C4DAD2;
}

/* Main Content Styles */
.medicine-section {
    padding: 20px;
    max-width: 1200px;
    margin: 3cqmax auto;
    background-color: #ffffff; /* White for content areas */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.medicine-section h2 {
    color: #333;
    margin-bottom: 20px;
}

.medicine-item {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.medicine-item h3 {
    color: #6A9C89; /* Darker teal for headings */
}

.medicine-item p {
    margin: 5px 0;
}

.medicine-section img{
    margin-left: 300px;
    width: 300px;
}

.price {
    font-size: 1.2em;
    color: #00796B; /* Darker teal for prices */
    margin-bottom: 30px;
}

.add-to-cart {
    background-color: #16423C; /* Darker teal for buttons */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #6A9C89; /* Even darker teal for hover effect */
}

/* Footer Styles */
footer {
    background-color: #16423C;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
